name: Deploy Docs

on:
  push:
    branches:
      - dada-tbd-master
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy-documentation:
    uses: ./.github/workflows/build-docs.yml